<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Python Site</h1>
    <form  method="post">
        <label for="message">Как ты себя чувствуешь?</label><br>
        <textarea name="message" id="message" rows="4" cols="50" placeholder="Например: все хорошо">
            {{user_text}}
        </textarea>
        <button type="submit">Отправить</button>
    </form>

    {% if recommendation %}
    <div class="result">
        <h3>Рекомендация</h3>
        <p>{{ recommendation }}</p>
    </div>
    {% endif %}
</body>
</html>